# Node.js
node_modules/
dist/

# Environment variables
*.env
!*.env.example
.env.local
.env.*.local
# Gardez les fichiers Docker d'environnement
!*.env.docker

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

.terraform/.terraform/